.login {
  background: #fff;
  padding: 0 20px 20px;
  input {
    background: @bg-input;
  }
  :global {
    .ant-input-password {
      background: @bg-input;
    }
    .ant-tabs-tab {
      font-size: 16px;
    }
  }
}

.root {
  h6 {
    padding: 16px 24px;
    color: #8590a6;
    display: flex;
    align-items: center;
  }
  :global {
  }
}

.svg {
  cursor: pointer;
}

.title {
  text-align: center;
}

.items {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.media {
  height: 200px;
}

.close {
  position: absolute !important;
  top: 0;
  right: 0;
  color: #fff !important;
}
