.login {
  background: #fff;
  padding: 0 20px 20px;
  input {
    background: @bg-input;
  }
  :global {
    .ant-input-password {
      background: @bg-input;
    }
    .ant-tabs-tab {
      font-size: 16px;
    }
  }
}
